.customAccordion {
    width: 100%;
}

.accordionItem {
    border: 1px solid #5060eb;
    border-radius: 4px;
    margin-bottom: 10px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.accordionHeader {
    background-color: #c466e9;
    cursor: pointer;
    padding: 15px 20px;
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordionHeader::after {
    content: '\25BC';
    /* Down arrow */
    font-size: 1em;
    transition: transform 0.3s ease;
}

.accordionItem.active .accordionHeader::after {
    transform: rotate(-180deg);
    /* Rotate to up arrow */
}

.accordionContent {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, padding 0.4s ease;
    padding: 0 20px;
}

.accordionContent.show {
    max-height: 200px;
    /* Adjust this value as needed */
    padding: 15px 20px;
}

.accordionItem.active .accordionHeader {
    background-color: #3d82db;
    /* Purple color for active state */
    color: #000;
}